{% extends "two_factor/_base.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="lg:p-12 max-w-md mx-auto my-12 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-3xl font-semibold mb-6 text-center">{% trans "Login" %}</h1>

  {% if wizard.steps.current == 'auth' %}
    <p class="text-center">{% blocktrans %}Enter your credentials.{% endblocktrans %}</p>
  {% elif wizard.steps.current == 'token' %}
    <p class="text-center">{{ device|as_verbose_action }}</p>
  {% elif wizard.steps.current == 'backup' %}
    <p class="text-center">{% blocktrans trimmed %}Use this form for entering backup tokens for logging in.
      These tokens have been generated for you to print and keep safe. Please
      enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
  {% endif %}

  <form action="/" method="post" class="mx-auto max-w-sm">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
    <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button>
  </form>


  {% block backup_tokens %}
    {% if backup_tokens %}
      <hr class="my-4">
      <div class="text-center">
        <p>{% trans "As a last resort, you can use a backup token:" %}</p>
        <button name="wizard_goto_step" type="submit" value="backup"
                class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-md w-full">
          {% trans "Use Backup Token" %}
        </button>
      </div>
    {% endif %}
  {% endblock %}
</div>
{% endblock %}